/* line 17, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* --- COLOURS --- */
/* --- MIXINS --- */
/* --- FONTS --- */
/* --- GENERAL --- */
/* line 31, ../sass/_screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 35, ../sass/_screen.scss */
html {
  display: table;
}

/* line 38, ../sass/_screen.scss */
body {
  display: table-cell;
  vertical-align: middle;
  font-size: 78%;
  font-family: 'Muli', Verdana, sans-serif;
  color: #333333;
  line-height: 18px;
  /*  @media screen and (max-width:767px)
    {
      padding:0;
    }*/
  /*  @media screen and (max-width:550px)
    {
      font-size:125%;
      line-height:120%;
    }*/
}

/* line 56, ../sass/_screen.scss */
a {
  text-decoration: none;
  color: #333333;
}
/* line 59, ../sass/_screen.scss */
a:hover {
  text-decoration: underline;
  color: #5aa8c1;
}
/* line 63, ../sass/_screen.scss */
a.current {
  color: #1f8d9f;
}

/* line 67, ../sass/_screen.scss */
h1 {
  font-size: 120%;
  font-weight: bold;
  color: #208d9f;
  margin-bottom: 2%;
}

/* line 73, ../sass/_screen.scss */
h3 {
  font-weight: bold;
  margin-bottom: 0.5%;
}

/* line 4, ../sass/brat.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/brat.scss */
body div#header, body div#content, body div#footer {
  margin: auto;
  width: 960px;
  max-width: 960px;
  text-align: left;
}

/* line 14, ../sass/brat.scss */
div#content {
  margin-top: 16px !important;
  margin-bottom: 20px !important;
}
/* line 17, ../sass/brat.scss */
div#content, div#content #content-text, div#content #content-illu {
  min-height: 230px;
}
/* line 20, ../sass/brat.scss */
div#content #content-text, div#content #content-illu {
  margin: 0.5% 2.5% 0.5% 1.5%;
  width: 32%;
  max-width: 32%;
  float: left;
  text-align: justify;
}
/* line 26, ../sass/brat.scss */
div#content #content-text div, div#content #content-illu div {
  font-size: 80%;
  line-height: 120%;
  margin-top: 5px;
}
/* line 32, ../sass/brat.scss */
div#content #content-gallery, div#content #content-descr, div#content #content-references {
  float: right;
  width: 64%;
  max-width: 64%;
  overflow: hidden;
}
/* line 38, ../sass/brat.scss */
div#content #content-gallery ul li {
  display: inline;
  zoom: 1;
}
/* line 41, ../sass/brat.scss */
div#content #content-gallery ul li div {
  display: inline-block;
  height: 113px;
  min-height: 113px;
  max-height: 113px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  overflow: hidden;
}
/* line 52, ../sass/brat.scss */
div#content.content-descr {
  min-height: 300px;
}
/* line 54, ../sass/brat.scss */
div#content.content-descr.content-sub-menu {
  min-height: 390px;
}
/* line 57, ../sass/brat.scss */
div#content.content-descr #content-illu {
  height: 285px;
  max-height: 285px;
  overflow: hidden;
}
/* line 61, ../sass/brat.scss */
div#content.content-descr #content-illu img {
  height: 100%;
  width: 100%;
}
/* line 66, ../sass/brat.scss */
div#content.content-descr #content-sub-menu {
  float: left;
  margin-left: 30px;
}
/* line 70, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:first-child div:first-child {
  background-position: 0px -34px;
}
/* line 72, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:first-child div:first-child.current {
  background-position: 0px 0px;
}
/* line 76, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:first-child a:hover div:first-child {
  background-position: 0px 0px;
}
/* line 80, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:nth-child(2) {
  margin-top: 10%;
}
/* line 82, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:nth-child(2) div:first-child {
  background-position: -33px -34px;
}
/* line 84, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:nth-child(2) div:first-child.current {
  background-position: -33px 0px;
}
/* line 88, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:nth-child(2) a:hover div:first-child {
  background-position: -33px 0px;
}
/* line 92, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:last-child {
  margin-top: 10%;
}
/* line 94, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:last-child div:first-child {
  background-position: -65px -34px;
}
/* line 96, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:last-child div:first-child.current {
  background-position: -65px 0px;
}
/* line 100, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li:last-child a:hover div:first-child {
  background-position: -65px 0px;
}
/* line 104, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li {
  line-height: 140%;
  font-size: 105%;
  text-transform: uppercase;
}
/* line 108, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li div:first-child {
  display: inline-block;
  background-image: url(/images/logo_brat_sigles.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  margin-top: -8px;
}
/* line 116, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li a div:nth-child(2) {
  margin-top: -28px;
  margin-left: 34px;
  height: 26px;
}
/* line 121, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li a:hover {
  color: #208d9f;
}
/* line 124, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li a.current {
  color: #208d9f;
}
/* line 127, ../sass/brat.scss */
div#content.content-descr #content-sub-menu ul li ul li {
  font-size: 90%;
  text-transform: none;
  margin: 0px 0px 4px 43px !important;
}
/* line 135, ../sass/brat.scss */
div#content.content-descr #content-descr p, div#content.content-descr #content-descr ul li, div#content.content-descr #content-references p, div#content.content-descr #content-references ul li {
  margin: 1% 0px 1% 0px;
  line-height: 120%;
  text-align: justify;
}
/* line 139, ../sass/brat.scss */
div#content.content-descr #content-descr p span, div#content.content-descr #content-descr ul li span, div#content.content-descr #content-references p span, div#content.content-descr #content-references ul li span {
  color: #208d9f;
}
/* line 143, ../sass/brat.scss */
div#content.content-descr #content-descr ul, div#content.content-descr #content-references ul {
  display: block;
  margin-left: 18px;
  list-style: disc;
}
/* line 149, ../sass/brat.scss */
div#content.content-descr #content-references {
  height: 380px;
  overflow-y: auto;
}
/* line 153, ../sass/brat.scss */
div#content.content-descr #content-references ul li div {
  display: inline-block;
  zoom: 1;
}
/* line 157, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-year {
  margin-right: 3px;
  font-weight: bold;
  width: 5%;
}
/* line 162, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-title {
  text-transform: uppercase;
  vertical-align: top;
  width: 93%;
}
/* line 168, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement {
  width: 93%;
  max-width: 93%;
  padding-left: 7%;
}
/* line 172, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div {
  float: left;
}
/* line 175, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div.content-references-complement-illu {
  max-width: 10%;
  margin-right: 2%;
  padding-top: 1%;
}
/* line 179, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div.content-references-complement-illu ul {
  list-style: none;
  margin-left: 0;
}
/* line 183, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div.content-references-complement-illu img {
  width: 100%;
  height: 10%;
}
/* line 188, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div.content-references-complement-text {
  width: 46%;
  max-width: 46%;
  margin-right: 2%;
  padding-right: 2%;
  border-right: solid 1px;
}
/* line 195, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div.content-references-complement-details {
  width: 35%;
  max-width: 35%;
}
/* line 198, ../sass/brat.scss */
div#content.content-descr #content-references ul li div.content-references-complement div.content-references-complement-details ul {
  list-style: none;
  margin-left: 0;
}
/* line 204, ../sass/brat.scss */
div#content.content-descr #content-references ul li a:hover {
  color: #208d9f;
  text-decoration: none;
}

/* line 213, ../sass/brat.scss */
.hidden {
  display: none !important;
}

/* line 1, ../sass/_header-footer.scss */
div#header, div#footer {
  background-image: url(/images/pointilles.gif);
  background-repeat: repeat-x;
}

/* line 5, ../sass/_header-footer.scss */
div#header {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background-position: bottom;
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 13, ../sass/_header-footer.scss */
nav {
  float: right;
  text-align: right;
}
/* line 16, ../sass/_header-footer.scss */
nav#menu {
  width: 70%;
  max-width: 70%;
  padding-top: 30px;
  padding-right: 5px;
}
/* line 21, ../sass/_header-footer.scss */
nav#menu ul li {
  display: inline;
  padding-left: 1px;
}
/* line 24, ../sass/_header-footer.scss */
nav#menu ul li img {
  vertical-align: middle;
  height: 11px;
  max-height: 11px;
  width: 11px;
  width: 11px;
}
/* line 33, ../sass/_header-footer.scss */
nav#sub-menu {
  float: left;
  text-align: left;
}

/* line 38, ../sass/_header-footer.scss */
#logo {
  width: 108px;
  float: left;
}

/* line 42, ../sass/_header-footer.scss */
div#footer {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  vertical-align: middle;
  background-position: top;
}
/* line 48, ../sass/_header-footer.scss */
div#footer footer {
  height: 40px;
  min-height: 40px;
  width: 93px;
  min-width: 93px;
  margin-left: 30px;
  background-image: url(/images/logo_brat_sigles.png);
  background-position: 0px 6px;
  background-repeat: no-repeat;
}
