/* line 2, ../sass/brat_home.scss */
body div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -175px;
  /*set to a negative number 1/2 of your width*/
  text-align: center;
}
/* line 10, ../sass/brat_home.scss */
body div#language_choice {
  padding-right: 8px;
  font-size: 1.1em;
}
