div#footer {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  vertical-align:middle;
  background-position: top;
  footer {
    height:40px;
    min-height:40px;
    width:93px;
    min-width:93px;
    margin-left:30px;
    background-image: url(/images/logo_brat_sigles.png);
    background-position: 0px 6px;
    background-repeat:no-repeat;
  }
}