div#header, div#footer {
  background-image: url(/images/pointilles.gif);
  background-repeat: repeat-x;
}
div#header {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background-position: bottom;
  font-size:14px;
  letter-spacing:1px;
  margin-top:4% !important;
}
nav {
  float: right;
  text-align:right;
  &#menu {
    width: 70%;
    max-width: 70%;
    padding-top: 30px;
    padding-right:5px;
    ul li {
      display: inline;
      padding-left: 1px;
      img {
        vertical-align: middle;
        height: 11px;
        max-height: 11px;
        width: 11px;
        width: 11px;
      }
    }
  }
  &#sub-menu {
    float:left;
    text-align:left;
  }
}
#logo {
  width:108px;
  float: left;
}
div#footer {
  vertical-align:middle;
  background-position: top;
  footer {
    position:relative;
    top:8px;
    margin-left:10px;
    display:inline;
    a img {
      vertical-align:middle;
    }
    div#footer-text {
      display:inline;
    }
  }
}