/* --- COLOURS --- */

$black:#000000;
$white:#FFFFFF;
$text-color:#333;
$dark-blue:#208d9f;
$anchor:#1f8d9f;
$anchor-hover:#5aa8c1;
$light-grey:#ddd;

/* --- MIXINS --- */

// @mixin border-radius($radius: 4px) {
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
//   border-radius: $radius;
// }
//
// @mixin border-radius-custom($topleft: 5px, $topright: 5px, $bottomleft: 5px, $bottomright: 5px) {
//   -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
//   -moz-border-radius: $topleft $topright $bottomright $bottomleft;
//   border-radius: $topleft $topright $bottomright $bottomleft;
// }

/* --- FONTS --- */
// @font-face {
//   font-family: AvantGarde;
//   src: url(/fonts/AvantGarde-Book.ttf);
// }

/* --- GENERAL --- */
html, body {
  width:100%;
}
body {
  vertical-align:middle;
  font-size:78%;
  font-family: 'Muli', Verdana, sans-serif;
//   font-weight:300;
  color: $text-color;
  line-height:18px;
/*  @media screen and (max-width:767px)
  {
    padding:0;
  }*/
/*  @media screen and (max-width:550px)
  {
    font-size:125%;
    line-height:120%;
  }*/
}
a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    text-decoration: underline;
    color: $anchor-hover;
  }
  &.current {
    color:$anchor;
  }
}
h1 {
  font-size:120%;
  font-weight:bold;
  color:$dark-blue;
  margin-bottom:2%;
}
h2, h3 {
  font-weight:bold;
  margin-bottom:0.5%;
}
