/* --- COLOURS --- */

$black:#000000;
$white:#FFFFFF;
$text-color:#333;
$dark-blue:#208d9f;
$anchor:#1f8d9f;
$anchor-hover:#5aa8c1;

/* --- MIXINS --- */

/* --- FONTS --- */

/* --- GENERAL --- */
* { padding: 0; margin: 0; }

* html, body {
  width:100%;
  height:100%;
}
body {
  vertical-align:middle;
  font-family: 'Muli', Verdana, sans-serif;
  color: $text-color;
}
a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    text-decoration: underline;
    color: $anchor-hover;
  }
  &.current {
    color:$anchor;
  }
}
h1 {
  font-weight:bold;
  color:$dark-blue;
}
h3 {
  font-weight:bold;
}

/* #Media Queries
 *================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 59.938em) {
  body {
    font-size: 12px;
    line-height: 18px;
  }
  h1 {
    font-size: 19px;
    margin-bottom:2%;
  }
  h3 {
    margin-bottom:0.5%;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 48em) and (max-width: 59.938em) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 47.938em) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 30em) and (max-width: 47.938em) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 29.938em) {
}


