@import "base";
@import "screen";

body {
  div.container {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height:100%;
    max-width: 229px;/* Original width of the logo image */
    margin: auto;
    img {
      width:100%;
      display:block;
      position:relative;
      top:35%;
      @media screen and (max-height:480px) {
        top:20%;
      }
      @media screen and (max-height:340px) {
        top:5%;
      }
    }
  }
  div#language_choice {
    font-size:110%;
    @media screen and (max-width:180px) {
      font-size:75%;
    }
    @media screen and (max-width:60px) {
      font-size:50%;
    }
    position:relative;
    right:6%;
    top:40%;
    @media screen and (max-height:480px) {
      top:25%;
    }
    @media screen and (max-height:340px) {
      top:5%;
    }
    margin:auto;
    text-align:right;
    ul li {
      display:inline-block;
    }
    ul li a {
      display:inline-block;
      background-color:$light-grey;
      padding:3px;
    }
  }
}