@import "base";
@import "screen";

* { padding: 0; margin: 0; }

#wrapper {
 margin: auto;
 width: 950px;
 height: auto;
 text-align:center;
}
#header {
 margin-left: auto;
 margin-right: auto;
 color: #333;
 width: 950px;
 float: left;
 height: 60px;
 background-image: url("images/pointilles.gif");
 background-repeat: repeat-x;
 /*background-attachment: fixed;*/
 background-position: bottom;
 border: solid 1px ;
 display:inline-block;
 vertical-align: middle;
 text-align:left;
}
#logo {
width:108px;
float: left;
        }
#menu {
width: 600px;
padding-top: 30px;
position: relative;
float: right;
text-align:right;
        }
#menu ul li {
display: inline;
list-style-image: url(images/puce.gif);
padding-left: 1px;
                }
#content {
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
 border: solid 1px ;
 color: #333;
 width: 950px;
 float: left;
 height: 255px;
 display:inline-block;
 vertical-align:middle;
 text-align:left;
}
#text {
 color: #333;
 background: #FFF;
 margin: 15px 0px 15px 30px;
 height: 225px;
 width: 285px;
 float: left;
 border: solid 1px ;
}
#image {
 float: right;
 color: #333;
 background: #FFF;
 margin: 15px 0px 15px 30px;
 height: 225px;
 width: 600px;
 display: inline;
 border: solid 1px ;
}
.mini li {
 height: 113px;
 width: 150px;
 float: left;
 list-style: none;
 display: inline;
}
#footer {
 width: 920px;
 height: 40px;
 clear: both;
 color: #333;
 border: solid 1px ;
 background-image: url("images/pointilles.gif");
 background-repeat: repeat-x;
  /*background-attachment:fixed;*/
 background-position: top;
 text-align:left;
 padding: 5px 0px 0px 30px;
 display:inline-block;
 vertical-align:middle;
 text-align:left;
}